.editable-cell {
    position: relative;
  }
  
  .editable-cell-value-wrap {
    padding: 5px 12px;
    cursor: pointer;
    padding: 4px 11px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    height: 32px;
    margin: 0 0 26px;
  }
  
  .editable-row:hover .editable-cell-value-wrap {
    padding: 4px 11px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    height: 32px;
    margin: 0 0 26px;
  }
  
  [data-theme='dark'] .editable-row:hover .editable-cell-value-wrap {
    border: 1px solid #434343;
  }
  .gstClass{
    cursor: pointer;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    height: 17px;
    width:17px;
    padding: 0px!important;
    margin: 0 0 26px;
  }